@import './styles/common.css';


.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 100px 1fr auto;  
  place-items: center;
}


.nav a {
  text-decoration: none;
  gap: 10px;
  color: var(--color-text);
  padding: 6px 8px;
  border-radius: 4px;
}

.nav a:hover{
  background: var(--color-hover);
}

.btn{
  background-color: #df606071;
  margin: 0;
}

.header_name p{
  font-size: 32px;
  font-weight: 600;
  margin: 0px 0px 3px 0px;
}


/* макет страницы */
.layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    'header header'
    'sidebar content'
    'footer footer';
  gap: 16px;
}
.sidebar {
  display: grid;
  grid-area: sidebar;
  background: var(--color-sidebar);
  padding: 12px;
  gap: 8px;
  place-items: center;
}

.sidebar a {
  background-color: var(--color-muted);
  width: 50px;
  text-align: center;
  gap: 0 5px;
  font-size: 24px;
  width: 100%;
  border-radius: 4px;
}

.content {
  grid-area: content;
  background: var(--color-content);
  padding: 12px;
}
.footer {
  grid-area: footer;
  background: var(--color-footer);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Галерея*/
.gallery {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.gallery .item {
  background: var(--color-muted);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 36px;
}


@media (max-width: 600px) {
  .page {
    grid-template-areas:
      'header'
      'hero'
      'features'
      'cta'
      'footer';
    grid-template-columns: 1fr;
  }
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto 60px;
    grid-template-areas:
      'header'
      'content'
      'footer';
    height: auto;
  }
}
